@model SystemWebDorms.Models.SystemSetting

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SystemSetting</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemSettingLogoNav)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemSettingLogoNav)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemSettingLogoFooter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemSettingLogoFooter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemSettingTitleDorm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemSettingTitleDorm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemSettingBriefDorm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemSettingBriefDorm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemSettingBriefFooter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemSettingBriefFooter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemSettingZahraaDorm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemSettingZahraaDorm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemSettingAndalusDorm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemSettingAndalusDorm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemSettingJerashDorm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemSettingJerashDorm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemSettingAmmonDorm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemSettingAmmonDorm)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SystemSettingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
